html, body {
	height: 100%;
	margin: 0px;
	padding: 0px;
  }


body {
	font-family: 'Open Sans', sans-serif;
	position: relative;
	color: #fff;
}

a {
	text-decoration: none;
	color: #F9615B;
}

h1, h2, h3, h4, h5, h6 {
	margin-bottom: 17px;
	font-weight: 300;
}

h1 {
	font-size: 28px;
	color: #fff;
	font-weight: 800;
	margin-bottom: 40px;
}

h2 {
	font-size: 26px;
}

h3 {
	font-size: 24px;
	margin-bottom: 15px;
}

ul {
	list-style-type: square;
	margin-left: 60px;
	margin-bottom: 30px;
}

ul li {
	line-height: 1.9;
}

p {
	margin-bottom: 20px;
	line-height: 2;
	color: #fff;
}

#map-canvas {
	height: 100%;
}
	
#control {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 999;
	color: #3E454C;
	background-color: #6114CC;
	width: 400px;
	height: 100%;
	padding: 80px 2%;
}

button {
	background-color: #F9615B;
	padding: 15px 30px;
	color: #fff;
	font-size: 14px;
	border: none;
	margin-top: 20px;
	font-weight: 700;
	letter-spacing: 1.5px;
	outline: none;
}

.credits {

}

